<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Anasayfa</title>
</head>

<body>
    <h1 style="color:red"> Anasayfa</h1>
    <span>Kullanıcı bilgisi {{request.user}}</span> <br>
    
    {{request}}
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quo possimus nobis! Repellendus, eum minus laborum magni fugiat pariatur laudantium reprehenderit vel quibusdam possimus mollitia. Deserunt ad doloribus incidunt inventore?</p>
    <br>
    <hr>
    <p>Contextten gelen veriler:</p>
    <ul>
        <li> {{django}} </li>
        <li>{{flask}}</li>
        <li>{{pehape}}</li>
        <li>{{now}}</li>
    </ul> 
</body>

</html>